
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form asp-action="Create">
    <input type="submit" value ="getWebScrape" class="btn btn-primary"/>
</form>